<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block metatags %}
  <meta name="description" content="Nyaksha your portfolio manager, Nyaksha stock market, | Portfolio manager" />
  <meta name="keywords" content="Nyaksha your portfolio manager, Nyaksha stock market, | Portfolio manager">
  <link rel="canonical" href="https://nyaksha.com">
  <meta name="author" content="NYAKSHA">
  {% endblock metatags %}
  <meta name="robots" content="index, follow">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <title>Nyaksha Portfolio Management</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/landing/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/static/landing/assets/css/templatemo-finance-business.css">
  <link rel="stylesheet" href="/static/landing/assets/css/owl.css">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <ul class="left-info">
            <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Sat 09:00-18:00</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>+91 9235780868</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="right-icons">
            <li><a href="https://www.facebook.com/share/azf8bpN276dzf8Jx/?mibextid=LQQJ4d" target="_blank"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://x.com/nyaksha61?t=ExXBOKxPQc3MExJy4rjwig&s=09" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/nyaksha2024?igsh=MTZ3cGM0ZjVxOGwweQ%3D%3D&utm_source=qr" target="_blank"><i
                  class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
      async>
        {
          "symbols": [
            {
              "description": "SENSEXETF",
              "proName": "BSE:SENSEXETF"
            },
            {
              "description": "GMDCLTD",
              "proName": "BSE:GMDCLTD"
            },
            {
              "description": "KOTAK",
              "proName": "BSE:KOTAKBANK"
            },
            {
              "description": "BAJAJ_AUTO",
              "proName": "BSE:BAJAJ_AUTO"
            },
            {
              "description": "SBIN",
              "proName": "BSE:SBIN"
            },
            {
              "description": "ACC",
              "proName": "BSE:ACC"
            },
            {
              "description": "RKFORGE",
              "proName": "BSE:RKFORGE"
            },
            {
              "description": "ITC",
              "proName": "BSE:ITC"
            },
            {
              "description": "YESBANK",
              "proName": "BSE:YESBANK"
            },
            {
              "description": "SUZLON",
              "proName": "BSE:SUZLON"
            },
            {
              "description": "NHPC",
              "proName": "BSE:NHPC"
            },
            {
              "description": "TATAPOWER",
              "proName": "BSE:TATAPOWER"
            },
            {
              "description": "ASTRAL",
              "proName": "BSE:ASTRAL"
            },
            {
              "description": "IDFCFIRSTB",
              "proName": "BSE:IDFCFIRSTB"
            },
            {
              "description": "TCS",
              "proName": "BSE:TCS"
            },
            {
              "description": "BHARTIAIRTEL",
              "proName": "BSE:BHARTIARTL"
            },
            {
              "description": "PAYTM",
              "proName": "BSE:PAYTM"
            }
          ],
            "showSymbolLogo": true,
              "isTransparent": false,
                "displayMode": "adaptive",
                  "colorTheme": "transparent",
                    "locale": "en"
        }
      </script>
  </div>


  <!-- Header -->

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>NYAKSHA Soft.</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/what-is-nyaksha">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="filled-button" href="/login">Register/Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% block body %}
  {% endblock body %}
  <!-- Footer Starts Here -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-item">
          <h4>NYAKSHA Soft.</h4>
          <p>
            Start maximizing your returns effortlessly.
          </p>
          <ul class="social-icons">
            <li><a rel="nofollow" href="https://x.com/nyaksha61?t=ExXBOKxPQc3MExJy4rjwig&s=09" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/share/azf8bpN276dzf8Jx/?mibextid=LQQJ4d" target="_blank"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/nyaksha2024?igsh=MTZ3cGM0ZjVxOGwweQ%3D%3D&utm_source=qr" target="_blank"><i
                  class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>Useful Links</h4>
          <ul class="menu-list">
            <li><a href="/disclaimer">Disclaimer</a></li>
            <li><a href="/what-is-nyaksha">Blogs</a></li>
            <li><a href="/termsofuse">Terms Of Use</a></li>
            <li><a href="/refundpolicy">Refund Policy</a></li>
            <li><a href="/indicator" target="_blank">Indicator</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>Additional Pages</h4>
          <ul class="menu-list">
            <li><a href="/about">About Us</a></li>
            <li><a href="/what-is-nyaksha">Blogs</a></li>
            <li><a href="/contact">Quick Support</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item last-item">
          <h4>Contact Us</h4>
          <div class="contact-form">
            <form id="contact footer-contact" action="/contact" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="phone_number_or_email" type="tel" class="form-control" id="name"
                      placeholder="Phone Number" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="email" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="description" rows="6" class="form-control" id="message" placeholder="Your Message"
                      required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; 2024

            <a rel="nofollow noopener" href="https://nyaksha.com" target="_blank">Nyaksha</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/landing/vendor/jquery/jquery.min.js"></script>
  <script src="/static/landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script src="/static/landing/assets/js/custom.js"></script>
  <script src="/static/landing/assets/js/owl.js"></script>
  <script src="/static/landing/assets/js/slick.js"></script>
  <script src="/static/landing/assets/js/accordions.js"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0;
    function clearField(t) {
      if (!cleared[t.id]) {
        cleared[t.id] = 1;
        t.value = '';
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>