{% extends 'home/base.html' %}
{% block title %}Nyaksha | Disclaimer | Nyaksha.com Disclaimer{% endblock title %}
{% block meta %}Nyaksha | Disclaimer | Nyaksha.com Disclaimer{% endblock meta %}
{% block pagetitle %}Disclaimer {% endblock pagetitle %}
{% block body %}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Disclaimer</h1>
                <span>Just patience and believe can gives <em>100% results</em></span>
            </div>
        </div>
    </div>
</div>
<div class="more-info about-info">
    <div class="container">
        <div class="max-w-3xl mx-auto">
            <h3 class="text-3xl font-bold mb-4">Welcome to Nyaksha.com</h3>
            <p class=" mb-6">Nyaksha operates as a platform that connects users' demat accounts through APIs to our
                platform, allowing traders and algorithms to execute trades on behalf of the users. By using our
                services,
                you acknowledge and agree to the following:</p>

            <ul class="list-disc pl-6 mb-6">
                <li class="mb-4">
                    <h5 class="text-lg font-semibold">Not SEBI Registered</h5>
                    <p class="text-base">Nyaksha is not registered with the Securities and Exchange Board of India
                        (SEBI)
                        and does not provide financial advice or recommendations. Users are solely responsible for their
                        trading decisions and any outcomes resulting from those decisions.</p>
                </li>
                <li class="mb-4">
                    <h5 class="text-lg font-semibold">Not Responsible for Losses</h5>
                    <p class="text-base">Nyaksha shall not be held responsible for any losses incurred by users while
                        using
                        our platform. Trading and investing in financial markets involve inherent risks, and users
                        should
                        carefully consider their investment objectives and risk tolerance before using our services.</p>
                </li>
                <li class="mb-4">
                    <h5 class="text-lg font-semibold">Monthly Fee</h5>
                    <p class="text-base">Users are required to pay a monthly fee for accessing and using Nyaksha's
                        platform.
                        This fee is charged regardless of the trading outcomes and is non-refundable.</p>
                </li>
                <li class="mb-4">
                    <h5 class="text-lg font-semibold">No Guarantee of Results</h5>
                    <p class="text-base">While Nyaksha strives to provide reliable and efficient trading services, we do
                        not
                        guarantee any specific results or performance of our platform or the trades executed through it.
                        Past performance is not indicative of future results.</p>
                </li>
                <li class="mb-4">
                    <h5 class="text-lg font-semibold">Use of APIs</h5>
                    <p class="text-base">Users' demat accounts are connected to our platform through APIs. Nyaksha does
                        not
                        access or store users' sensitive financial information. Users are responsible for ensuring the
                        security and integrity of their demat accounts and API connections.</p>
                </li>
            </ul>

            <p class="mb-6">By using Nyaksha.com and our services, you agree to the terms outlined in this
                disclaimer. If you do not agree with any part of this disclaimer, please refrain from using our
                platform.
            </p>

            <p class="mb-6">If you have any questions or concerns regarding this disclaimer, please contact us at <a
                    href="tel:+917991490577" class="text-blue-500">+917991490577</a>.</p>
        </div>
    </div>
    <br><br><br>
</div>
{% endblock body %}