{% extends 'home/base.html' %}
{% block body %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are ready to help you</h6>
                    <h4>Financial Analysis<br>&amp; Consulting</h4>
                    <p>Implemented algorithms and indicators for real time data analysis</p>
                    <a href="/contact" class="filled-button">contact us</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are here to support you</h6>
                    <h4>Risk<br>&amp; Management</h4>
                    <p>Calculated and measured risk for avoiding losses algorithms for making aggregate profits.</p>
                    <a href="services" class="filled-button">our services</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we have a solid Indicators</h6>
                    <h4>Market Analysis<br>&amp; Statistics</h4>
                    <p>Accurately measured analysis from live market data for increasing accuracy and save transactions.
                    </p>
                    <a href="/about" class="filled-button">learn more</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Demat <em>Services</em></h2>
                    <span>We manage your Portfolio with accuracy</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-partners owl-carousel">
                    <div class="partner-item">
                        <img src="https://smart-algo.in/static/assets/img/logos/angel.png"
                            title="Nyaksha" alt="Nyaksha">
                    </div>

                    <div class="partner-item">
                        <img src="https://smart-algo.in/static/assets/img/logos/dhan.png"
                            title="Nyaksha" alt="Nyaksha">
                    </div>

                    <div class="partner-item">
                        <img src="https://smart-algo.in/static/assets/img/logos/alice.jpg"
                            title="Nyaksha" alt="Nyaksha">
                    </div>

                    <div class="partner-item">
                        <img src="https://smart-algo.in/static/assets/img/logos/angel.png"
                            title="Nyaksha" alt="Nyaksha">
                    </div>

                    <div class="partner-item">
                        <img src="https://smart-algo.in/static/assets/img/logos/dhan.png"
                            title="Nyaksha" alt="Nyaksha">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Request a call back right now ?</h4>
                <span>Know more about us.</span>
            </div>
            <div class="col-md-4">
                <a href="contact" class="border-button">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Top Gainers & Losers</h2>
                </div>
            </div>
            <div class="col-md-12">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                            {
                                "width": "100%",
                                    "height": "500",
                                        "defaultColumn": "performance",
                                            "defaultScreen": "top_gainers",
                                                "market": "india",
                                                    "showToolbar": true,
                                                        "colorTheme": "light",
                                                            "locale": "in"
                            }
                        </script>
                </div>
            </div>
        </div>
        <!-- TradingView Widget END -->
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Financial <em>Services</em></h2>
                    <span>We manage your Portfolio with accuracy</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="/static/landing/assets/images/service_01.jpg" alt="">
                    <div class="down-content">
                        <h4>Nyaksha Indicators</h4>
                        <p>Harness the power of automated trading. Nyaksha integrates cutting-edge algorithms and
                            intelligent bots
                            to optimize your investment strategy. Take control of your portfolio like never before.
                        </p>
                        <a href="" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="/static/landing/assets/images/service_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Market Analysis</h4>
                        <p>
                            Experience the next evolution in investment management. Nyaksha utilizes advanced
                            algorithms
                            and
                            automated trading systems to navigate the markets with precision. Maximize returns and
                            minimize risk
                            effortlessly.
                        </p>
                        <a href="" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="/static/landing/assets/images/service_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Historical Data</h4>
                        <p>
                            Discover a smarter way to invest with Nyaksha. Our algorithmic trading solutions
                            optimize
                            your portfolio
                            based on market trends and data insights. Start maximizing your returns intelligently.
                        </p>
                        <a href="" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>Connect with us Now</span>
                    <h2>Our solutions for your <em>Portfolio growth</em></h2>
                    <p>Nyaksha revolutionizes portfolio management through algorithms. Our automated trading systems
                        execute
                        trades efficiently, adapting to market dynamics in real-time. Stay ahead of the curve with
                        Nyaksha.
                        <br><br>
                        Discover a smarter way to invest with Nyaksha
                    </p>
                    <a href="" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">945</div>
                            <div class="count-title">Work Hours</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1280</div>
                            <div class="count-title">Great Reviews</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">578</div>
                            <div class="count-title">Clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">2</div>
                            <div class="count-title">Brokers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="/static/landing/assets/images/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>Who we are</span>
                                <h2>Get to know about <em>Nyaksha</em></h2>
                                <p>
                                    Nyaksha empowers investors with cutting-edge algorithms. Our platform automates
                                    trading decisions
                                    based on market analysis, ensuring optimal performance. Invest smarter with
                                    Nyaksha.
                                </p>
                                <a href="#" class="filled-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>Know more about us.</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" action="/contact" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="phone_number_or_email" type="tel" class="form-control" id="name"
                                        placeholder="Phone Number" required="" />
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="email"
                                        placeholder="Subject" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="description" rows="6" class="form-control" id="message"
                                        placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="border-button">Send
                                        Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock body %}