{% extends 'base.html' %}
{% block body %}
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                    {
                        "description": "SENSEXETF",
                        "proName": "BSE:SENSEXETF"
                    },
                    {
                        "description": "GMDCLTD",
                        "proName": "BSE:GMDCLTD"
                    },
                    {
                        "description": "KOTAK",
                        "proName": "BSE:KOTAKBANK"
                    },
                    {
                        "description": "BAJAJ_AUTO",
                        "proName": "BSE:BAJAJ_AUTO"
                    },
                    {
                        "description": "SBIN",
                        "proName": "BSE:SBIN"
                    },
                    {
                        "description": "ACC",
                        "proName": "BSE:ACC"
                    },
                    {
                        "description": "RKFORGE",
                        "proName": "BSE:RKFORGE"
                    },
                    {
                        "description": "ITC",
                        "proName": "BSE:ITC"
                    },
                    {
                        "description": "YESBANK",
                        "proName": "BSE:YESBANK"
                    },
                    {
                        "description": "SUZLON",
                        "proName": "BSE:SUZLON"
                    },
                    {
                        "description": "NHPC",
                        "proName": "BSE:NHPC"
                    },
                    {
                        "description": "TATAPOWER",
                        "proName": "BSE:TATAPOWER"
                    },
                    {
                        "description": "ASTRAL",
                        "proName": "BSE:ASTRAL"
                    },
                    {
                        "description": "IDFCFIRSTB",
                        "proName": "BSE:IDFCFIRSTB"
                    },
                    {
                        "description": "TCS",
                        "proName": "BSE:TCS"
                    },
                    {
                        "description": "BHARTIAIRTEL",
                        "proName": "BSE:BHARTIARTL"
                    },
                    {
                        "description": "PAYTM",
                        "proName": "BSE:PAYTM"
                    }
                ],
                    "showSymbolLogo": true,
                        "isTransparent": false,
                            "displayMode": "adaptive",
                                "colorTheme": "light",
                                    "locale": "en"
            }
        </script>
</div>
<div class="bg-indigo-600 px-8 pt-10 lg:pt-14 pb-16 flex justify-between items-center mb-3">
    <!-- title -->
    <h1 class="text-xl text-white">Your API's</h1>
    <a href="/api/angelone"
        class="btn bg-white text-gray-800 border-gray-600 hover:bg-gray-100 hover:text-gray-800 hover:border-gray-200 active:bg-gray-100 active:text-gray-800 active:border-gray-200 focus:outline-none focus:ring-4 focus:ring-indigo-300">
        Add new account
    </a>
</div>
<div class="-mt-12 mx-6 mb-6 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 xl:grid-cols-4">
    <!-- card -->
    {% for x in angelone %}
    <div class="card shadow">
        <!-- card body -->
        <div class="card-body">
            <!-- content -->
            <div class="flex justify-between items-center">
                <h4>Angel ONE</h4>
                <div
                    class="bg-indigo-600 bg-opacity-10 rounded-md w-10 h-10 flex items-center justify-center text-center text-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-briefcase">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                    </svg>
                </div>
            </div>
            <div class="mt-4 flex flex-col gap-0 text-base">
                <h4 class="">{{x.client_id}}</h4>
                <div>
                    <span>{{x.api_name}}</span>
                    {% if x.is_trading %}
                    <a href="/api/status/angel/{{x.id}}"
                        class="bg-teal-500 px-2 py-1 text-white text-sm font-medium rounded-full inline-block whitespace-nowrap text-center">Active</a>
                    {% else %}
                    <a href="/api/status/angel/{{x.id}}"
                        class="bg-red-500 px-2 py-1 text-white text-sm font-medium rounded-full inline-block whitespace-nowrap text-center">Inactive</a>
                    {% endif %}
                    <p class="text-gray-500">{{x.created_time}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}