{% extends 'landingbase.html' %}
{% block title %}Nyaksha | Disclaimer | Nyaksha.com Disclaimer{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="mt-5">Disclaimer</h1>
    <p>Welcome to Nyaksha.com.</p>

    <p>Nyaksha operates as a platform that connects users' demat accounts through APIs to our platform, allowing traders
        and algorithms to execute trades on behalf of the users. By using our services, you acknowledge and agree to the
        following:</p>

    <h4 class="mt-4">1. Not SEBI Registered</h4>
    <p>Nyaksha is not registered with the Securities and Exchange Board of India (SEBI) and does not provide financial
        advice or recommendations. Users are solely responsible for their trading decisions and any outcomes resulting
        from those decisions.</p>

    <h4 class="mt-4">2. Not Responsible for Losses</h4>
    <p>Nyaksha shall not be held responsible for any losses incurred by users while using our platform. Trading and
        investing in financial markets involve inherent risks, and users should carefully consider their investment
        objectives and risk tolerance before using our services.</p>

    <h4 class="mt-4">3. Monthly Fee</h4>
    <p>Users are required to pay a monthly fee for accessing and using Nyaksha's platform. This fee is charged
        regardless of the trading outcomes and is non-refundable.</p>

    <h4 class="mt-4">4. No Guarantee of Results</h4>
    <p>While Nyaksha strives to provide reliable and efficient trading services, we do not guarantee any specific
        results or performance of our platform or the trades executed through it. Past performance is not indicative of
        future results.</p>

    <h4 class="mt-4">5. Use of APIs</h4>
    <p>Users' demat accounts are connected to our platform through APIs. Nyaksha does not access or store users'
        sensitive financial information. Users are responsible for ensuring the security and integrity of their demat
        accounts and API connections.</p>

    <p>By using Nyaksha.com and our services, you agree to the terms outlined in this disclaimer. If you do not agree
        with any part of this disclaimer, please refrain from using our platform.</p>

    <p class="mt-4">If you have any questions or concerns regarding this disclaimer, please contact us at <a href="tel:+917991490577">+917991490577</a>.</p>
</div>

{% endblock body %}