{% extends 'base.html' %}
{% block body %}
<div class="card-box pb-10">
    <div class="h5 pd-20 mb-0">Intraday History</div>
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer" style="overflow: auto;">
        <div class="row">
            <div class="col-sm-12" style="padding: 4%;">
                {% if holdings %}
                <table class="data-table table nowrap dataTable no-footer dtr-inline collapsed" id="DataTables_Table_0"
                role="grid">
                    <thead>
                        <tr role="row">
                            <th>Broker</th>
                            <th>Symbol/Exchange</th>
                            <th>Quantity</th>
                            <th>Buy Avg</th>
                            <th>Sell Avg</th>
                            <th>Pnl</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in holdings %}
                        {% for y in x.data %}
                        <tr>
                            <td>Angel ONE</td>
                            <td>{{y.tradingsymbol}} | {{y.exchange}}</td>
                            <td>{{y.buyqty}}</td>
                            <td>{{y.totalbuyavgprice|floatformat:2}}</td>
                            <td>{{y.totalsellavgprice|floatformat:2}}</td>
                            {% if y.realised > 0 %}
                            <td class="text-success">{{y.realised|floatformat:2}}</td>
                            {% else %}
                            <td class="text-danger">{{y.realised|floatformat:2}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        <tr>
                            <td><strong>Total</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if total_pnl > 0 %}
                            <td class="text-success"><strong>{{total_pnl}}</strong></td>
                            {% else %}
                            <td class="text-danger"><strong>{{total_pnl}}</strong></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                    {% else %}
                    <h4 class="text-center">No Data</h4>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}