<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/brand/logo/logo-primary.svg" />

    <!-- Libs CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet" href="/static/libs/simplebar/dist/simplebar.min.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/theme.min.css">

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Sign In - Nyaksha Portfolio Management" />
    <title>Sign In - Nyaksha Portfolio Management</title>
</head>

<body>
    <div class="bg-indigo-600 px-8 pt-4 lg:pt-2 pb-4 flex justify-between items-center mb-8">
        <!-- title -->
        <a class="navbar-brand" href="/dashboard">
            <img src="https://nyaksha.com/static/images/brand/logo/logo.svg" width="38%" alt="" />
        </a>
    </div>
    <br>
    <!-- start signin page -->
    <div class="flex flex-col items-center justify-center mb-4 g-0 px-4">
        <!-- card -->

        <div class="justify-center items-center w-full bg-white rounded-md shadow lg:flex md:mt-0 max-w-md xl:p-0">
            <!-- card body -->

            <div class="p-6 w-full sm:p-8 lg:p-8">
                <div class="mb-2 p-2 w-full">
                    <img src="https://nyaksha.com/static/images/brand/logo/logo-primary.svg" width="40%"
                        class="mb-1 px-2" alt="" />
                    <p class="mb-6">Please enter your user information.</p>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="bg-indigo-600 mb-3 text-white rounded-lg p-4" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <!-- form -->
                <form method="post">
                    {% csrf_token %}
                    <!-- username -->
                    <div class="mb-3">
                        <label for="email" class="inline-block mb-2">Username or email</label>
                        <input type="email" id="email"
                            class="border border-gray-300 text-gray-900 rounded focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2 px-3 disabled:opacity-50 disabled:pointer-events-none"
                            name="email" placeholder="Email address here" required="" />
                    </div>
                    <!-- password -->
                    <div class="mb-5">
                        <label for="password" class="inline-block mb-2">Password</label>
                        <input type="password" id="password"
                            class="border border-gray-300 text-gray-900 rounded focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2 px-3 disabled:opacity-50 disabled:pointer-events-none"
                            name="password" placeholder="**************" required="" />
                    </div>
                    <div>
                        <!-- button -->
                        <div class="grid mb-2">
                            <button type="submit"
                                class="btn bg-indigo-600 text-white border-indigo-600 hover:bg-indigo-800 hover:border-indigo-800 active:bg-indigo-800 active:border-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                                Sign in
                            </button>
                        </div>
                        <div class="grid">
                            <a href="/social-auth/login/google-oauth2/"
                                class="btn bg-gray-800 text-white border-gray-600 hover:bg-gray-600 hover:border-gray-600 active:bg-gray-800 active:border-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300">
                                Continue with Google
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>

    <footer class="rounded-sm shadow m-4 bg-gray-800" style="bottom: 0;position: fixed; width: 100%;">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://nyaksha.com"
                    class="hover:underline">Nyaksha</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="/about" target="_blank" class="hover:underline px-4 me-4 md:me-6">About Us</a>
                </li>
                <li>
                    <a href="/disclaimer" target="_blank" class="hover:underline px-4 me-4 md:me-6">Disclaimer</a>
                </li>
                <li>
                    <a href="/termsofuse" target="_blank" class="hover:underline px-4 me-4 md:me-6">Terms of Use</a>
                </li>
                <li>
                    <a href="/privacypolicy" target="_blank" class="hover:underline px-4 me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="/refundpolicy" target="_blank" class="hover:underline px-4 me-4 md:me-6">Refund Policy</a>
                </li>
                <li>
                    <a href="/contactus" target="_blank" class="hover:underline px-4">Contact Us</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- end of signin page -->

    <!-- Libs JS -->
    <script src="/static/libs/feather-icons/dist/feather.min.js"></script>
    <script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="/static/js/theme.min.js"></script>

</body>

</html>