{% extends 'base.html' %}
{% block body %}
<br>
<h2>Our Plans</h2>
<br><br>
<div class="row">
    <div class="col-md-4 mb-30">
        <div class="card-box pricing-card mt-30 mb-30">
            <div class="pricing-icon">
                <img src="/static/images/icon-Cash.png" alt="">
            </div>
            <div class="price-title">Beginner</div>
            <div class="pricing-price"><sup>₹</sup>10,499<sub>/mo</sub></div>
            <div class="text">
                Portfolio Management<br>
            </div>
            <div class="cta">
                <a href="#" class="btn btn-dark btn-rounded btn-lg">Order Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-30">
        <div class="card-box pricing-card mt-30 mb-30">
            <div class="pricing-icon">
                <img src="/static/images/icon-debit.png" alt="">
            </div>
            <div class="price-title">expert</div>
            <div class="pricing-price"><sup>₹</sup>16,890<sub>/mo</sub></div>
            <div class="text">
                Portfolio Management<br>
            </div>
            <div class="cta">
                <a href="#" class="btn btn-dark btn-rounded btn-lg">Order Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-30">
        <div class="card-box pricing-card mt-30 mb-30">
            <div class="pricing-icon">
                <img src="/static/images/icon-online-wallet.png" alt="">
            </div>
            <div class="price-title">experience</div>
            <div class="pricing-price"><sup>₹</sup>25,690<sub>/mo</sub></div>
            <div class="text">
                Portfolio Management<br>
            </div>
            <div class="cta">
                <a href="#" class="btn btn-dark btn-rounded btn-lg">Order Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}