{% extends 'landingbase.html' %}
{% block title %}Nyaksha | Refund Policy | Nyaksha.com Refund Policy{% endblock title %}
{% block meta %}Nyaksha | Refund Policy | Nyaksha.com Refund Policy{% endblock meta %}
{% block pagetitle %}Refund Policy{% endblock pagetitle %}
{% block body %}
<div class="container mx-auto px-4 py-8 mb-4">
    <p class=" mt-4">All sales are final. Because Nyaksha offers an Expert Advice evaluation to ensure that our products and services will meet your needs without the need to purchase, there will be ABSOLUTELY NO REFUNDS and CANCELLATIONS. Before deciding to subscribe to our services, please make sure to take our Expert Advice, the evaluation version that we provide. We do not offer refunds on subscriptions that have already been taken. We so believe in our services and support.</p>

    <h4 class="text-lg font-semibold mt-6">Recommendations Before Payment</h4>
    <p class=" mt-2">For this reason, we strongly recommend that before payment, our visitors:</p>
    <ul class="list-disc pl-6 mt-2">
        <li class="">Read all information about our products, services, and support given to our clients.</li>
        <li class="">Evaluate the quality of our services by taking our Expert Advice.</li>
        <li class="">Read all About Us and our technical Team.</li>
        <li class="">Read our Terms of Use.</li>
        <li class="">Read our Privacy Policy.</li>
        <li class="">Do not allow children or other unauthorized family members or friends to access your credit cards or your account at the payment site to ensure that no one pays for a Membership without your permission.</li>
    </ul>
    <p class=" mt-6">By making a payment for Membership to our site, you acknowledge that you have read and agree to the above No Refund and no cancellation Policy. We do not offer refunds on subscriptions that have already been taken. The movements in the stock market are not always predictable and therefore, make sure you have gone through the disclaimer, terms and conditions, and refund policy before proceeding for subscription or making payment for any of our services.</p>
</div>
{% endblock body %}
