{% extends 'base.html' %}
{% block body %}
<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
    <div class="pd-10">
        <br><br>
        <div class="error-page-wrap text-center">
            <h1>Oops!</h1>
            <br><br>
            <p>
                This feature isn't available yet.
            </p>
            <h3>Comming Soon</h3>
            <div class="pt-20 mx-auto max-width-200">
                <a href="/dashboard" class="btn btn-dark btn-block btn-lg">Back To Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}